# Ignore Python virtual environment folders
bin/
lib/
lib64/
include/
share/
pyvenv.cfg

# Ignore common Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system and editor files
.DS_Store
*.swp
*.swo
*.bak
*.tmp

# Ignore any local configuration or log files
.env
*.log

# Don't ignore Git repo itself
!.git/

